{% extends 'site/base.html' %}
{% load thumbnail %}


{% block title %}{{image.title}} {% endblock title %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    alert("work");
    $.post('{% url "images:like" %}',
      {
        id: $(this).data('id'),

        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          alert("middle");
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
          alert("updated");
        }
      }
    );
  });
{% endblock %}


{% block javascript %}
  <script>
    var model = document.getElementById("bookmark-photo-view-full");
    var img = document.getElementById("bookmark-photo-view");
    var modelimg = document.getElementById("bookmark-photo-view-img");
    var caption = document.getElementById("caption");

    img.onclick = function () {
        model.style.display = "block";
        modelimg.src=this.src;
        caption.innerHTML=this.alt;

    }

    var imgclose = document.getElementById("close");
    imgclose.onclick = function() {
      model.style.display = "none";
    }

  </script>
{% endblock %}



{% block content %}

  <h1>{{image.title}}</h1> Bookmarked by {{image.user}} <hr>

  {% thumbnail image.image '300' as im %}
    <img class="bookmark-photo-view" id="bookmark-photo-view" src="{{im.url}}" alt="{{image.title}}" width="300px" height="200px">
  {% endthumbnail %}
  <a href="{{image.image.url}}" download="{{image.title}}">Download HD Image</a>
  {% with total_likes=image.users_like.count users_like=image.users_like.all %}

    <div class="image-info">
      <div class="count">
        <span class="total">{{total_likes}} like{{total_likes|pluralize}}</span>
        <span>follower</span>
        <a href="#" data-id="{{image.id}}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like-button">
          {% if request.user not in users_like %}
            Like
          {% else %}
            Unlike
          {% endif %}
        </a>
        <p style="color:red;">pending image like script</p>
      </div>
      <p>{{image.description}}</p>
    </div>
    <div class="images-liked-by-others">
      <h3>Image liked by others</h3> <hr>
      {% for user in image.users_like.all %}
        <div class="liked-user-info">
          {% thumbnail user.profile.photo "300" as im %}
            <img src="{{im.url}}" alt="{{user.first_name}}" width="70px" height="70px">
          {% endthumbnail %}
          
          <p>{{user.first_name}}</p>
        </div>
      {% empty %}
        No body likes this image yet.
      {% endfor %}
    </div>

  {% endwith %}



  <div class="bookmark-photo-view-full" id="bookmark-photo-view-full">
    <span id="close" class="close">&times;</span>
    <img id="bookmark-photo-view-img" class="bookmark-photo-view-img">
    <div id="caption"></div>
  </div>


{% endblock content %}
