{% extends 'site/base.html' %}

{% block title %} {% endblock title %}

{% block content %}

  <h2>Forgotten Password</h2> <hr>
  <p>You can reset your password. Please fill the detail below to get your new password </p> <br>
  <p>Please enter your registered Email to get password reset link.</p>

  {% if form.errors %}
    <p>Something wernt wrong. Please try again.</p>
    <form class="password-reset" action="." method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" name="button">Send Reset Link</button>
    </form>
  {% else %}

    <form class="password-reset" action="." method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" name="button">Send Reset Link</button>
    </form>

  {% endif %}

{% endblock content %}
