{% extends 'site/base.html' %}

{% block title %}Password Reset link sent to the registered Email {% endblock title %}

{% block content %}

  <h3>Password reset link has been sent to registered mail {{email}}.</h3>
  <p>
    open your mail and follow the provided link to reset your password. <br>
    If password reset link  was not appeared in your mail inbox please be patient at least five minutes.<br>
    Recheck your given mail address is correct. <a href="https://mail.google.com/" target="_blank">open mail</a>

  </p>

{% endblock content %}
