{% extends 'site/base.html' %}

{% block title %}Reset Password {% endblock title %}

{% block content %}

  <h2>Enter your new password</h2> <hr>

  {% if form.errors %}
    <p>Something went wrong. Please try agian.</p>
    <form class="password-reset-confirm" action="." method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" name="button">Reset Password</button>
    </form>

  {% else %}

    <form class="password-reset-confirm" action="." method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" name="button">Reset Password</button>
    </form>

  {% endif %}

{% endblock content %}
