{% extends 'site/base.html' %}

{% block title %}Change your password {% endblock title %}

{% block content %}

  <h3>Change your password</h3><hr>
  <p>For security reasons please enter your old password.Then proceed</p>

  {% if form.errors %}
    <p>Something went wrong. Please try again.</p>
    <form class="password-change" action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="button">Change password</button>
    </form>

  {% else %}

    <form class="password-change" action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="button">Change password</button>
    </form>

  {% endif %}

{% endblock content %}
